{% extends 'base.html' %}
{% block content %}

    <h2>Listar Curso<h2>
        <a href="{% url 'incluir_curso' %}">Cadastrar novo curso</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>

                <th>Carga Horária</th>

                <th>Investimento</th>
                
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for a in cursos %}
                <tr>
                    <td>{{a.nome_curso}}</td>
                    <td>{{a.carga_horaria}}</td>
                    <td>{{a.investimento}}</td>
                    <td>
                        <a href="{% url 'editar_curso' a.id %}">Editar</a>
                        <a href="#">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}